/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-weight);
  font-family: "Inter-Variable", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: repeating-linear-gradient(
      var(--bg-gradient),
      transparent 2px
    ),
    repeating-linear-gradient(90deg, var(--bg-gradient), transparent 2px),
    linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
  background-size: cover;
  background-attachment: fixed;
}

button {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

h2,
p {
  font-size: 18px;
}

.dialog_text,
.button__text,
.theme-menu__button {
  font-size: 14px;
  font-weight: var(--main-font-weight);
  font-family: var(--accent-font-family);
}

/*filter*/

.card-image-1 {
  filter: brightness(110%) contrast(90%) saturate(120%) hue-rotate(50deg);
}

.card-image-2 {
  filter: sepia(10%) brightness(90%) contrast(130%) saturate(140%);
}

.card-image-3 {
  filter: brightness(110%) contrast(150%) hue-rotate(309deg);
}

.card-image-4 {
  filter: contrast(130%) brightness(90%) sepia(20%);
}

.card-image-5 {
  filter: brightness(90%) contrast(120%) hue-rotate(331deg) saturate(120%);
}

.card-image-6 {
  filter: contrast(120%) brightness(110%) saturate(80%) sepia(15%);
}

.card-image-7 {
  filter: contrast(120%) saturate(120%) hue-rotate(19deg);
}

.card-image-8 {
  filter: contrast(160%) brightness(90%) saturate(120%) hue-rotate(131deg);
}

/*header*/

.header {
  display: flex;
  flex-direction: column;
  font-weight: var(--main-font-weight);
  border: 2px solid var(--text-color);
  margin: 100px auto;
  font-family: var(--accent-font-family);
  padding: 136px 0 15px;
  width: min(698px, 100%);
  background-color: var(--bg-color);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7053rem + 1.508vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.6741rem + 0.8483vw, 1.4375rem);
  margin: 20px 0 24px;
}

@media (width <= 375px) {
  .header {
    padding: 120px 14px 15px;
  }
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
  margin-left: 17px;
  padding: 0;
  border: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
  position: absolute;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -18px;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__item:last-child {
  margin-top: 3px;
}

/*card*/

.section {
  width: min(698px, 100%);
  margin: 0 auto 50px;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
}

.card-title {
  font-weight: var(--accent-font-weight);
  padding: 4px 10px 6px;
}

.card-paragraph-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 26px;
  gap: 28px;
}

.card-image-container {
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  position: relative;
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.card-like-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px 0;
  align-items: center;
}

.card__like-button {
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: relative;
  background-color: transparent;
  padding: 9px 17px;
  border: 2px solid var(--text-color);
  width: 130px;
  height: 38px;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  height: 38px;
  margin-right: 4px;
  padding: 0;
  outline: none;
}

.floppy-image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  stroke: var(--inversion-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
}

@media (width <= 375px) {
  .card-title {
    padding: 4px 10px 6px;
  }
  .card-paragraph-container {
    gap: 27px;
    padding-top: 25px;
  }
  .card-image {
    max-width: 371px;
  }
}

.wrapper-image {
  position: absolute;
  z-index: 2;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family);
  font-size: 14px;
  opacity: 0.5;
  top: 25px;
  right: 25px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .wrapper-image {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .wrapper-image {
    top: 24px;
    right: 11px;
  }
  .floppy-image {
    width: 28px;
    height: 28px;
  }
  .button-save {
    flex-direction: column;
  }
}

/*footer*/

.button-save {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 auto 105px;
  align-items: center;
  gap: 8px;
  line-height: 90%;
  padding: 15px 20px;
}

.close-button {
  width: 100%;
  padding: 7px;
  text-transform: uppercase;
}

.button-save::before,
.card__like-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  background-color: var(--text-color);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/*dialog*/

.dialog {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 31px 30px;
  border: 2px solid var(--text-color);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.dialog_text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog_text {
  line-height: 150%;
  text-transform: uppercase;
  max-width: 234px;
}

.dialog-floppy-image {
  inline-size: 39px;
  block-size: 39px;
  stroke: var(--text-color);
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--bg-color, #000);
}

.button-shadow:focus {
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 0 var(--text-color);
  outline: none;
}

.button-save:hover::before,
.card__like-button:hover::before {
  width: 100%;
  transform: translateX(0);
}

.button__text {
  color: var(--inversion-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .dialog {
    padding: 32px 38px;
  }
  .dialog-container {
    gap: 28px;
  }
  .dialog_text {
    max-width: 198px;
  }
}

/*animation*/

.sparks {
  opacity: 0;
  fill: var(--red-color-heart);
}

.contour {
  fill: var(--text-color);
}

.main-body {
  fill: var(--none-color-heart);
  transition: fill 0.3s linear;
}

.core {
  fill: var(--none-color-heart);
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--red-color-heart);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--red-color-heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--red-color-heart);
}

.like-icon.is-liked .core {
  fill: var(--red-color-heart);
}

.like-icon.is-liked .contour {
  fill: var(--red-color-heart);
}
