/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-weight);
  font-family: 'Inter-Variable', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: repeating-linear-gradient(var(--bg-gradient),transparent 2px),
    repeating-linear-gradient(90deg, var(--bg-gradient), transparent 2px),
    linear-gradient(var(--bg-gradient-start), var(--bg-gradient-end));
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
  
}

.header-logo{
  font-size: clamp(3.0625rem, 2.7053rem + 1.508vw, 4.0625rem);
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.dialog_text,
.button__text,
.theme-menu__button{
  font-size: 14px;
  font-weight: var(--main-font-weight);
  font-family: var(--accent-font-family);
}

.theme-menu__button{
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
  margin-left: 17px;
  padding: 0;

}
.theme-menu__item:last-child{
  margin-bottom: 2px;
}

.theme-menu__button::after{
  content: "";
  display: block; 
  height: 2px;
  width: 0;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
  position: absolute;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before{
  content: "▶";
  position: absolute;
  animation-name: movingarrow;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  left: -18px;
}

.theme-menu__button:focus-visible::after{
  width: 100%;
  transform: scaleX(1);
}

.theme-menu__button:hover,
.theme-menu__button:disabled{
  opacity: 0.6;
}

.theme-menu__button:focus{
  outline: none;
  opacity: 0.6;
}

.header{
  display: flex;
  flex-direction: column;
  font-weight: var(--main-font-weight);
  border: 2px solid var(--text-color);
  margin: 0 auto 100px;
  font-family: var(--accent-font-family);
  padding: 136px 0 15px;
  width: min(698px, 100%);
  background-color: var(--bg-color);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.header-title{
  font-size: clamp(0.875rem, 0.6741rem + 0.8483vw, 1.4375rem);
  margin: 20px 0 24px;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.card{
  width: min(698px, 100%);
  margin: 0 auto 50px;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
}

.card-title{
  font-weight: var(--accent-font-weight);
  padding: 6px 24px 5px 10px;
  border-bottom: 2px solid var(--text-color);
}

.card-paragraph-container{
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 27px;
  border-top: 2px solid var(--text-color);
}

.card-title,
.card_text {
  font-size: 18px;
}

.card-image-container{
  position: relative;
}

.card-image{
  width: 100%;
  display: block;
}


.wrapper-image{
  position: absolute;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family);
  font-size: 14px;
  opacity: 0.5;
  top: 24px;
  right: 25px;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color), 1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .wrapper-image {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
} 

.card-like-container{
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px;
  gap: 12px;
}

.card__like-button{
  padding: 9px 17px;
  border: 2px solid var(--text-color);
  inline-size: 130px;
  block-size: 38px;
}

.like-icon{
  inline-size: 27px;
  block-size: 24px;
  padding: 9px 0 5px 0;
}

.floppy-image{
  width: 21px;
  height: 21px;
}

.button-save{
  background-color: var(--bg-color);
  display: flex;
  margin: 0 auto 105px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: 340px;
  block-size: 55px;
  border: 2px solid var(--text-color);
  line-height: 90%; 
  padding: 0;
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--bg-color, #000);
}

.dialog{
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 357px;
  height: 193px;
  padding: 30px;
}

.dialog-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog_text-container{
  display: flex;
  gap: 20px;
}

.dialog_text{
  line-height: 150%; 
  text-transform: uppercase;
}

.close-button{
  border: 2px solid var(--text-color);
  width: 293px;
  height: 38px;
  padding: 9px 17px;
}

.dialog-floppy-image{
  inline-size: 39px;
  block-size: 39px;
}

.card__like-button:focus{
  box-shadow: 2px 2px 0 var(--text-color);
}

.card__like-button{
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: relative;
  background: none;
  
}

.card__like-button::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateX(-100%);
  left: 0;
  top: 0;
  background: var(--text-color);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before{
  transform: translateX(0);
}

.button__text{
  color: var(--bg-color);
  mix-blend-mode: difference;
}