/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter-Variable";
  --accent-font-family: "PressStart2P-Regular";
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --bg-gradient: #d3d3d3;
  --bg-gradient-start: #e7e7e7;
  --bg-gradient-end: #1a1a1a;
  --inversion-color: #fff;
  --red-color-heart: #ff0000;
  --none-color-heart: rgba(256, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --bg-color: #000000;
    --text-color: #00cc14;
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --bg-gradient: #000;
    --bg-gradient-start: #007f0c;
    --bg-gradient-end: #004306;
    --inversion-color: #00cc14;
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --bg-gradient: #d3d3d3;
    --bg-gradient-start: #e7e7e7;
    --bg-gradient-end: #1a1a1a;
    --inversion-color: #fff;
  }
}
