/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart2P-Regular';
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --bg-gradient: #d3d3d3;
  --bg-gradient-start: #e7e7e7;
  --bg-gradient-end: #1a1a1a;
  --inversion-color: #fff;
  --red-color-heart:#FF0000;
  --none-color-heart: rgba(256, 0, 0, 0);
}
